.item {
  background-color: white;
  border-radius: 15px;
}

.image {
  width: 45vh;
  height: 20%;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}
