.carousel {
    width: 50%;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    position: relative;
    top: 50px;
}

.imgPreset1 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
    object-position: center 20%;
}

.imgPreset2 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
    object-position: center 60%;
}

