.footerDiv {
  width: 100%;
  min-height: 40vh;
  background-color: #003e29;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkDiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  margin-left: 50px;
}

.link:first-child {
  margin-left: 0; /* No margin for the first link */
}

.link:hover {
  color: rgb(86, 86, 233);
}

.address {
  color: white;
  font-size: 1rem;
}
