.topDiv {
  width: 100%;
  height: 80vh;
  background-color: rgb(40, 40, 40);
}

.imgDiv {
  background-image: url("../images/Sleepy.jpg");
  width: 100%;
  height: 250px;
}

html {
  background-color: rgb(40, 40, 40);
}

.imgPreset1 {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  border-radius: 15px;
  border: none;
}

.pictureCard {
  width: 40rem;
  height: 40rem;
  border-radius: 15px;
  border: none;
}

.itemCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutRow {
  margin-top: 10rem;
  margin-bottom: 10rem;
}