.topDiv {
  width: 100%;
  height: 80vh;
  background-color: rgb(40, 40, 40);
}

.imgDiv {
  background-image: url("../images/Sleepy.jpg");
  width: 100%;
  height: 250px;
}

html {
  background-color: rgb(40, 40, 40);
}
